################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WEB/OGC-OGE450-Web/Web.Test.config
/WEB/OGC-OGE450-Web/Web.Prod.config
/WEB/OGC-OGE450-Web/Web.Debug.config
/WEB/OGC-OGE450-Web/package-lock.json


*.user
bin
obj
.vs
PublishProfiles
packages