<div id="examples" style="display: none;">
    <div id="partIExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-11 form-box">
                    <b>Specific stock, bond, sector mutual fund, type/location of real estate, etc.</b> (Indicate the full name of each
                    specific asset or investment. You may add the ticker symbol to the full name.)
                    <br />
                    <b>Name of Employer or Business; Source of Fees, Commissions, or Honoraria</b> (Include brief description.)
                    You may distinguish any entry for a family member by preceding it with S for spouse, DC for dependent child,
                    or J for jointly held.
                </div>
                <div class="col-sm-1 form-box">
                    <b>No longer held</b>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    XYZ Japan Fund (Example of sector mutual fund)
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-unchecked"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    OGE Energy (Example of stock that produced more than $200 in capital gains)
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-check"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    (S) OGC Communications (Example of stock held in a 401(k) plan)
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-unchecked"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    ABC Healthcare Fund (Example of sector fund held in a variable annuity)
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-unchecked"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    Rental Condo, Anchorage, AK (Example of investment real estate)
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-unchecked"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    Bryggadune University – former employer
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-check"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    (S) Express Medical Clinic – employer
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-unchecked"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    Association of Accountants – honoraria
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-unchecked"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="partIIExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-4 form-box">
                    <b>Name of creditor</b> (include city and state where creditor is located)
                </div>
                <div class="col-sm-8 form-box">
                    <b>Type of liability</b> (personal loan, margin account, etc.)
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4 form-box-sm'>
                    John Jones (Denver, CO)
                </div>
                <div class='col-sm-8 form-box-sm'>
                    Personal loan from a friend
                </div>
            </div>
            <div class="row">
                <div class='col-sm-4 form-box-sm'>
                    ANW Investment Company (San Francisco, CA)
                </div>
                <div class='col-sm-8 form-box-sm'>
                    Margin account
                </div>
            </div>
        </div>
    </div>

    <div id="partIIIExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-5 form-box">
                    <b>Organization</b> (include city and state where organization is located)
                </div>
                <div class="col-sm-3 form-box">
                    <b>Type of organization</b>
                </div>
                <div class="col-sm-3 form-box">
                    <b>Position</b>
                </div>
                <div class="col-sm-1 form-box">
                    <b>No longer held</b>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    Bryggadune University (Memphis, TN)
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Educational institution
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Professor
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-check"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    ISK Family Trust (Boynton Beach, FL)
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Family Trust
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Trustee
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-unchecked"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    Scenic Rivers Association (Nashville, TN)
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Non-profit environmental organization
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Member, Board of Directors
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <span class="glyphicon glyphicon-check"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="partIVExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-5 form-box">
                    <b>Entity with which you have an agreement or arrangement</b> (include city and state where entity is located)
                </div>
                <div class="col-sm-7 form-box">
                    <b>Terms of Agreement or Arrangement</b>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    Dee, Jones & Smith<br />
                    (San Diego, CA)
                </div>
                <div class='col-sm-7 form-box-sm'>
                    Will receive pension benefits (defined benefit plan) (Example of continuing
                    participation in an employee pension or benefit plan by a former employer)
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    Hartford & Brown<br />
                    (San Diego, CA)
                </div>
                <div class='col-sm-7 form-box-sm'>
                    Employment agreement with Hartford & Brown. Starting work as attorney in
                    July 2012. Entered into agreement in October 2011. (Example of
                    agreement for future employment)
                </div>
            </div>
        </div>
    </div>

    <div id="partVExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-4 form-box">
                    <b>Source</b>
                </div>
                <div class="col-sm-8 form-box">
                    <b>Description</b>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4 form-box-sm'>
                    Dee, Jones & Smith
                </div>
                <div class='col-sm-8 form-box-sm'>
                    Leather briefcase<br />
                    (Example of a gift totaling more than $350 from one source)
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4 form-box-sm'>
                    CGH Culinary Institute
                </div>
                <div class='col-sm-8 form-box-sm'>
                    Airline ticket, hotel room, and meals incident to culinary seminar in Tokyo,
                    Japan from May 1-5, 2011 (Example of travel reimbursement)
                </div>
            </div>
        </div>
    </div>
</div>