<div class="radio-button">
    <label class="radio-label" for="radio-input">
        <div class="radio-container">
            <div class="radio-outer-circle"></div>
            <div class="radio-inner-circle"></div>
            <div class="radio-ripple ripple"></div>
        </div>
        <input class="radio-input visually-hidden" type="radio" id="radio-input" />
        <div class="radio-label-content">
            <span style="display: none">&nbsp;</span>
            {{label}}
        </div>
    </label>
</div>
