<div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1><i class="fa fa-clock-o"></i> Initializing New Annual Forms</h1>
        <p class="lead">The system is curently initializing the annual forms for the new filing year.  This process may take up to an hour.  Please try to refresh the application at a later time.</p>
        <a (click)="retry()" class="btn btn-default btn-lg text-center"><span class="text-success">Try To Reload The App</span></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>What happened?</h2>
            <p>An administrator has triggered an annual filing.  This process takes time to complete.  In order to ensure the integrity of the data during this process the application is inaccessible.</p>
        </div>
        <div class="col-md-6">
            <h2>What can I do?</h2>
            <div>There is nothing you can do at this time.  Please wait for the initialization to complete and reload the application.</div>
        </div>
    </div>
</div>
