
<div class="intro">
    <div class="control-label text-center">
        <h3>CONFIDENTIAL FINANCIAL DISCLOSURE REPORT</h3>
        Executive Branch
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="control-label">
                Why Must I File?
            </div>
        </div>
        <div class="col-sm-9">
            The duties and responsibilities of your position require you to file the Confidential
            Financial Disclosure Report to avoid involvement in a real or apparent conflict of
            interest. The purpose of this report is to assist employees and their agencies in
            avoiding conflicts between official duties and private financial interests or affiliations.
            The information you provide will only be used for legitimate purposes, and will not be
            disclosed to any requesting person unless authorized by law. (See the Privacy Act
            Statement at the bottom of this page.) Please ensure that the information you provide
            is complete and accurate.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="control-label">
                When Must I File?
            </div>
        </div>
        <div class="col-sm-9">
            <b>New Entrants:</b> The report is due within 30 days of your assuming a position
            designated for filing, unless your agency requests the report earlier or your agency
            grants you a filing extension.<br />
            <b>Annual Filers:</b> The report is due no later than February 15, unless your agency
            grants you a filing extension.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="control-label">
                What is the Reporting Period?
            </div>
        </div>
        <div class="col-sm-9">
            <b>New Entrants:</b> Report the required information for the 12 months preceding your
            filing of this form.<br />
            <b>Annual Filers:</b> Report the required information for the preceding calendar year
            (January 1 – December 31).
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="control-label">
                What if I Have Questions?
            </div>
        </div>
        <div class="col-sm-9">
            If you have any questions about how to complete this form, please contact your ethics
            official or go to the Office of Government Ethics web site at <a href="https://www.oge.gov" target="_blank">www.oge.gov</a> and select
            <b>OGE Form 450: Confidential Financial Disclosure Report</b> under <b>Forms Library</b>.
        </div>
    </div>
</div>
<div class="outer-form-box" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-12 form-box">
            <div class="control-label text-center" style="font-size: 1.2em;">PENALTIES</div>
            Falsification of information or failure to file or report information required to be reported may subject you to
            disciplinary action by your employing agency or other authority. Knowing and willful falsification of information
            required to be reported may also subject you to criminal prosecution.
        </div>
    </div>
</div>
<br />
<div class="outer-form-box">
    <div class="row">
        <div class="col-sm-12 form-box-sm">
            <div class="text-center control-label">Privacy Act Statement</div>
            Title I of the Ethics in Government Act of 1978 (5 U.S.C. App.), Executive Order 12674 (as modified by Executive Order 12731), and 5 CFR
            Part 2634, Subpart I, of the Office of Government Ethics regulations require the reporting of this information. The primary use of the
            information on this form is for review by Government officials of your agency, to determine compliance with applicable Federal conflict of
            interest laws and regulations. Additional disclosures of the information on this report may be made pursuant to the routine uses set forth
            in OGE/GOVT-2: (1) to a Federal, State, or local law enforcement agency if the disclosing agency becomes aware of a violation or potential
            violation of law or regulation; (2) to a court or party in a court or Federal administrative proceeding if the Government is a party or in order to
            comply with a judge-issued subpoena; (3) to a source when necessary to obtain information relevant to a conflict of interest investigation
            or decision; (4) to the National Archives and Records Administration or the General Services Administration in records management
            inspections; (5) to the Office of Management and Budget during legislative coordination on private relief legislation; (6) to the Department of
            Justice or in certain legal proceedings when the disclosing agency, and employee of the disclosing agency, or the United States is a party
            to litigation or has an interest in the litigation and the use of such records is deemed relevant and necessary to the litigation; (7) to reviewing
            officials in a new office, department or agency when an employee transfers from one covered position to another, (8) to a Member of
            Congress or a congressional office in response to an inquiry made on behalf of an individual who is the subject of the record, and
            (9) to contractors and other non-Government employees working for the Federal Government to accomplish a function related to WKLV
            OGE Governmentwide system of records. This confidential report will not be disclosed to any requesting person unless authorized by law.
            See also the OGE/GOVT-2 Executive Branch Confidential Financial Disclosure Reports Privacy Act system of records.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-box-sm">
            <div class="text-center control-label">Public Burden Information</div>
            It is estimated that completing this form, including reviewing the instructions and gathering the data needed, takes an average of one hour.
            No private citizen is required to respond to a collection of information unless it displays a currently valid OMB control number as printed in
            the top right-hand corner of the first page of this form. Send comments regarding the burden estimate or any other aspect of this collection
            of information, including suggestions for reducing this burden, to: Program Counsel, U.S. Office of Government Ethics, Suite 500,
            1201 New York Avenue, NW, Washington, DC 20005-3917. Do not send your completed OGE Form 450 to this address.
        </div>
    </div>
</div>

