<div class="col-sm-4 dashboard-gd">
    <div [hidden]="data.visible == false">
        <div class="dashboard-block btn btn-{{ data.color }}" (click)="onClick()">
            <div class="col-sm-8 dashboard-left">
                <h3>{{ data.title }}</h3>
                <h4>{{ data.text }}</h4>
                <p>{{ data.actionText}}</p>
            </div>
            <div class="col-sm-4">
                <i class="fa {{ icon }} text-{{ data.color }}"></i>
            </div>
        </div>
    </div>
</div>