<div class="alert alert-success alert-fixed" id="success-alert" style="display: none;">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <span class="glyphicon glyphicon-ok-circle text-success" style="font-size: 2em;"></span>
    <strong>Success!</strong>
    Form Canceled Successfully
</div>
<input #filterText type="text" placeholder="Search text..." hidden>
<p-dataTable [value]="forms" [paginator]="true" [rows]="15"  [rowsPerPageOptions]="[15,30,60]" [responsive]="true" [globalFilter]="filterText" #dt>
    <p-column field="employeesName" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains" [style]="{'width' : '30%'}">
        <ng-template pTemplate="body" let-data="rowData">
            <a class="link" (click)="gotoDetail(data.id)">{{ data.employeesName }}</a>
        </ng-template>
    </p-column>
    <p-column field="year" header="Year" [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'width' : '10%'}">
        <ng-template pTemplate="filter" let-col>
            <select id="ddlYear" class="form-control" (change)="filterData($event, col.field, col.filterMatchMode);">
                <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
            </select>
        </ng-template>
    </p-column>
    <p-column field="reportingStatus" header="Reporting Status" [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'width' : '13%'}">
        <ng-template pTemplate="filter" let-col>
            <select id="ddlReportingStatus" class="form-control" (change)="filterData($event, col.field, col.filterMatchMode);">
                <option *ngFor="let status of reportingStatuses" [value]="status.value">{{status.label}}</option>
            </select>
        </ng-template>
    </p-column>
    <p-column field="formStatus" header="Status" [sortable]="true" [filter]="true" filterMatchMode="contains" [style]="{'width' : '17%'}">
        <ng-template pTemplate="filter" let-col>
            <select id="ddlStatus" class="form-control" (change)="filterData($event, col.field, col.filterMatchMode);">
                <option *ngFor="let status of statuses" [value]="status.value">{{status.label}}</option>
            </select>
        </ng-template>
    </p-column>
    <p-column field="formFlags" header="Form Flags" [sortable]="true" [filter]="false" filterMatchMode="contains" [style]="{'width' : '12%'}">
        <ng-template pTemplate="filter" let-col>
            <select id="ddlFlags" class="form-control" (change)="filterData($event, col.field, col.filterMatchMode);">
                <option *ngFor="let flags of formFlags" [value]="flags.value">{{flags.label}}</option>
            </select>
        </ng-template>
        <ng-template pTemplate="body" let-data="rowData">
            <!-- Create an icon wrapped by the fa-stack class -->
            <span *ngIf="data.daysExtended > 0" class="fa-stack" title="Due date has been extended">
                <!-- The icon that will wrap the number -->
                <span class="fa fa-calendar-o fa-stack-2x"></span>
                <!-- a strong element with the custom content, in this case a number -->
                <strong class="fa-stack-1x" style="padding-top: 3px; color: #222222;">
                    {{ data.daysExtended }}
                </strong>
            </span>
            <span *ngIf="data.submittedPaperCopy" class="fa fa-file-text-o" style="font-size: 1.6em; color: #222222; vertical-align: middle; padding-left: 3px;" title="Submitted Paper Copy"></span>
            <span *ngIf="data.isBlank" class="fa fa-info-circle text-primary" style="font-size: 1.6em; vertical-align: middle; padding-left: 3px;" title="Blank submissions answered 'no' to all 5 questions"></span>
            <span *ngIf="data.isUnchanged" class="fa fa-files-o text-primary" style="font-size: 1.6em; vertical-align: middle; padding-left: 3px;" title="Submission is unchanged from previous year's certified form"></span>
            <span *ngIf="data.isOverdue" class='fa fa-exclamation-triangle text-danger' style="font-size: 1.6em; vertical-align: middle;" title="Form is overdue"></span>
        </ng-template>
    </p-column>
    <p-column field="dueDate" header="Due Date" [filter]="true" [sortable]="true" [style]="{'width' : '12%'}" filterMatchMode="contains">
        <ng-template pTemplate="filter" let-col>
            <input id="dtDateFilter" type="date" class="form-control" (change)="filterData($event, col.field, col.filterMatchMode);" />
        </ng-template>
        <ng-template pTemplate="body" let-data="rowData">
            {{ data.dueDate | date: "MM/dd/yyyy" }}
        </ng-template>
    </p-column>
    <p-column header="Actions" [filter]="false" [hidden]="!this.edit" [style]="{'width' : '6%'}">
        <ng-template pTemplate="body" let-data="rowData">
            <span style="cursor: pointer;" class='text-primary glyphicon glyphicon-pencil' (click)="rowClick(data)"></span>
            <span *ngIf="canCancel(data)" style="padding-left: 10px; cursor: pointer;" class='text-danger glyphicon glyphicon-ban-circle' (click)="confirmCancel(data)" title="Cancel Form"></span>
        </ng-template>
    </p-column>
    <p-column field="isOverdue" header="" [filter]="true" filterMatchMode="equals" hidden="hidden"></p-column>
</p-dataTable>
<div style="width: 100%;">
    <span class="pull-right">Total Records: {{ dt.totalRecords }}</span>
</div>

<div class="modal fade" id="confirm-cancel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <div class="modal-title" style="font-size: 1.5em;"><i class="fa fa-exclamation-triangle" style="padding-right: 20px;"></i>WARNING!</div>
            </div>
            <div class="modal-body">
                <p>Performing this action will cancel the {{ selectedForm.year }} - '{{ selectedForm.reportingStatus }}' OGE Form 450 for {{ selectedForm.employeesName}}.  Any outstanding extension requests will also be removed.</p>
                <p>Are you sure you want to continue?</p>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <div type="button" class="btn btn-success" style="margin-right: 20px;" data-dismiss="modal" (click)="cancelForm(selectedForm)">Yes</div>
                <div type="button" class="btn btn-default" data-dismiss="modal">No</div>
            </div>
        </div>
    </div>
</div>