<header class="usa-header site-header" role="banner">
    <div class="usa-navbar site-header-navbar">
        <button class="usa-menu-btn">Menu</button>
        <div class="usa-logo site-logo" id="logo">
            <em class="usa-logo-text">
                <a href="/" title="Home" aria-label="U.S. Web Design Standards home">
                    U.S. Web Design Standards
                </a>
            </em>
        </div>
        <ul class="usa-button-list usa-unstyled-list">
            <li>
                <a class="usa-button" href="/getting-started/download/" onclick="ga('send', 'event', 'Downloaded code and design files', 'Clicked Download code and design files from inside site');">
                    Download code and design files
                </a>
            </li>
            <li>
                <a class="usa-button usa-button-outline-inverse" href="https://github.com/18F/web-design-standards" onclick="ga('send', 'event', 'Viewed on Github', 'Clicked View on Github from inside site');">
                    View on GitHub
                </a>
            </li>
        </ul>

    </div>
</header>  